<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--Should be First Child or throws exception--><!--
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog throwExceptions="false" >
    --><!--
    internalLogFile="Nlog.txt" 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    --><!--
    <targets>
      <target name ="EncryptorLogger" type="File" filename="${specialfolder:dir=HessamEncryptor:file=Encrytptor.log:folder=CommonApplicationData" />
    </targets>

    <rules>
      <logger name ="*" minlevel="Debug" writeTo="EncryptorLogger" />
    </rules>
  </nlog>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
